@model IEnumerable<TP_MVC_CRUD.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h2 class="display-2 text-center fw-bold">Usuarios</h2>

<p>
    <a asp-action="Create" class="btn btn-success fw-normal">Nuevo Usuario</a>
</p>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Administrador</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr class="border-0">
                <td>@usuario.NombreUsuario</td>
                <td>@(usuario.EsAdministrador ? "Sí" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.UsuarioId" class="btn btn-sm btn-primary">Editar</a>       
                </td>
                <td><a asp-action="Details" asp-route-id="@usuario.UsuarioId" class="btn btn-sm btn-dark text-white">Detalles</a></td>
                <td> <a asp-action="Delete" asp-route-id="@usuario.UsuarioId" class="btn btn-sm btn-danger">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>